<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
</head>
<body>
<header th:fragment="shopHeader">
    <span class="title">MyShop</span>
    <a th:href="@{/order/cart}" class="cart-ico">
        <div>
        <span th:if="${cart != null}">
            (Koszyk: <span th:text="${cart.totalItems}">0</span>)
        </span>
            <span th:if="${cart == null}">
            (Koszyk: 0)
        </span>
            <span th:if="${cart != null}" th:text="${cart.totalPrice}">0.00</span>
            <span>zł</span>
        </div>
    </a>
</header>
</body>
</html>