<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header th:replace="fragments/header :: shopHeader"></header>

<div class="main-content">

    <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">

        <table cellspacing="0">
            <tr>
                <th>No.</th>
                <th>Zdjęcie</th>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Ilość</th>
                <th>Suma</th>
            </tr>
            <tr th:each="cartItem, iterStat : ${cart.cartItems}">
                <td th:text="${iterStat.index + 1}"></td>
                <td>
                    <img th:src="${cartItem.item.imgUrl}" alt="Zdjęcie produktu" style="width: 50px; height: 50px;">
                </td>
                <td th:text="${cartItem.item.name}"></td>
                <td th:text="${cartItem.item.price} + ' zł'"></td>
                <td th:text="${cartItem.counter}"></td>
                <td th:text="${cartItem.price} + ' zł'"></td>
            </tr>
        </table>

        <div class="summary">
            <p><span>Do zapłaty: </span><span th:text="${cart.totalPrice}"></span><span> zł</span></p>
        </div>
    </div>
</div>
</body>
</html>