<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header th:replace="fragments/header :: ShopHeader"></header>

<div class="main-content">

    <h2>Podsumowanie zamówienia</h2>

    <table cellspacing="0" style="border: 0px">
        <tr>
            <th style="width: 30px;">No.</th>
            <th style="width: 50px;"></th>
            <th>Nazwa</th>
            <th>Ilość</th>
            <th>Suma</th>
        </tr>
        <tr th:each="cartItem, iterStat : ${@cart.cartItems}">
            <td th:text="${iterStat.count}"></td>
            <td>
                <img th:src="@{${cartItem.item.imgURL}}">
            </td>
            <td th:text="${cartItem.item.name}"></td>
            <td th:text="${cartItem.counter}"></td>
            <td th:text="${cartItem.price}"></td>
        </tr>
    </table>

    <div class="summary">
        <p><span>Do zapłaty</span> <span th:text="${@cart.sum}"></span> zł</p>
    </div>

    <h3>Dane do wysyłki</h3>
    <form method="post" th:action="@{/order/summary}">
        <label>Imię</label>
        <input type="text" name="firstName" required>
        <label>Nazwisko</label>
        <input type="text" name="lastName" required>
        <label>Adres</label>
        <input type="text" name="address" required>
        <label>Kod pocztowy</label>
        <input type="text" name="postCode" required>
        <label>Miasto</label>
        <input type="text" name="city" required>
        <button type="submit" class="add-btn">Zamów</button>
    </form>

</div>
</body>
</html>